# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Django
/staticfiles/
media/
*.log
db.sqlite3

# Virtual environment
venv/
env/
ENV/

# IDE & OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# PyInstaller
*.spec

# Bytecode cache
__pycache__/

# Node / Frontend (if added later)
node_modules/
dist/
build/
